name: Smoke Tests

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests'
        required: true
        default: 'stg'
        type: choice
        options:
          - stg
          - preprod
          - prod

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Smoke Tests on ${{ inputs.environment || 'stg' }}
        run: npm run test:smoke
        env:
          ENV: ${{ inputs.environment || 'stg' }}
